/* body{
    background-color: antiquewhite;
} */
#cartContainer{
    width: 70%;
     height: 900px;
     margin: auto;
     /* border: 1px solid red; */
     padding: 0px 20px;
     background: #fff;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     margin-top: 20px;
}
#cartContainer > h1{
    font-family: Roboto Slab,serif;;
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 24px;
    color: rgb(107, 107, 107);
}

#cartItemInfo{
    width: 100%;
    height: 300px;
    margin:auto;
    margin-top: 30px;
    /* border: 1px solid orangered; */
}

#cartItemInfo > #topHeading{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    background-color: #555555;
    color: white;
    display: flex;
    justify-content: space-between;
}
#topHeading > #left{
    flex: 5;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}
#left > #leftChild1{
    width: 30%;
    height: 100%;
    margin-left: 10px;
    /* border: 1px solid olivedrab; */
}
#leftChild1 > p{
    margin-top: 5px;
    padding: 5px;
}
#leftChild2 > p{
    margin-top: 5px;
    padding: 5px;
}
#left > #leftChild2{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* border: 1px solid olivedrab; */
}
#topHeading > #right{
    flex: 1;
    /* border: 1px solid rgb(1, 8, 1); */
    background-color:  #84c225;
}

#right > p{
    margin-top: 2px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 18px;
    color: black;
}
#bottomHeading{
    width: 100%;
    height: 30px;
    background-color: #dfdfdf;
    /* border: 1px solid red; */
}
#bottomHeading > #bottomContent{
    width: 40%;
    height: 100%;
    display: flex;
    padding-left: -2px;
    margin: 5px;
    /* justify-content: space-around; */
    /* border: 3px solid rgb(17, 168, 214); */
}
#bottomContent > h3{
    margin-top: 6px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
}
#bottomContent > p{
    margin-top: 8px;
    font-size: 14px;
    margin-left: 12px;
    color: #555555;

}
#cartItems{
    width: 100%;
    height: 225px;
     /* border-bottom: 1px solid gray;  */
     overflow: auto;
     /* background-color: #555555; */
}
#cartItems > .childDiv{
    width: 100%;
    height: 50px;
    display: flex;
    gap:10px;
    /* border-bottom: 1px solid grey; */
}
.childDiv > .leftC{
    flex: 5;
    border-bottom: 1px solid grey;
    display: flex;
}
.leftC > .leftItem{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
    padding-left: 50px;
}
.leftC > .rightItem{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding-left: 50px;
}
.rightItem > .quantityBtnDiv{
    margin-top: 15px;
}
.rightItem > .priceAndDeleteDiv{
    display: flex;
    justify-content: space-between;
}
.priceAndDeleteDiv > div{
    margin-top: 15px;
    margin-left: 30px;
    cursor: pointer;
}
.leftItem > h5{
    margin-top: 4px;
    margin-bottom:-15px;
    color: grey;
    font-weight: normal;
    font-family: monospace;
    font-size: 14px;
  
}
.childDiv > .rightC{
    flex: 1;
    border-bottom: 1px solid grey;
}
.rightC > p{
    padding-left: 20px;
}

#checkoutBox{
    width: 100%;
    height: 450px;
    display: flex;
    /* border: 1px solid rgb(0, 255, 21); */
}
#leftBox{
    flex: 1;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 20px;
}
#leftBox> button{
    width: 80%;
    height: 40px;
    cursor: pointer;
    
}

#leftBox > button:last-child(){
    margin-top: 50px;
    border: 2px solid red;
}
#leftBox :nth-child(1){
    font-size: 17px;
    /* font-family: Roboto Slab,serif; */
    margin-top: -45px;
    border: 1px solid rgb(10, 173, 10);
    border-radius: 8px;
    text-transform: uppercase;
    color: #454343;
   
}
#leftBox :nth-child(1)>  .fas{
        margin-top: 2px;
       margin-right: 5px;
       margin-left: 2px;
       padding: 5px;
       border: none;
       color: #454343;
}


 #leftBox :nth-child(2){
    font-size: 17px;
    /* color: #454343; */
    /* border: 1px solid rgb(220, 225, 225); */
    /* box-shadow: 2px 2px 2px #ccc; */
    /* border-radius: 8px; */
    text-transform: uppercase;
    background: linear-gradient(180deg,#fff 0,#ebedea 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#EBEDEA",GradientType=0);
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    color: #555;
    display: inline-block;
    font: 400 17px Roboto Slab,serif;
    box-shadow: 2px 2px 2px #ccc;
    margin: 5px 0 15px;
    padding: 8px 15px;
}
#leftBox .btnShop:hover{
    color: #0df21c;
}

#rightBox{
    flex: 2;
    /* border: 1px solid black; */
    padding: 0px 20px;
}
#rightBox > #checkoutMain{
    width: 80%;
    height: 380px;
    background-color: rgb(252, 251, 251);
    margin-left: 20%;
    border: 1px solid rgb(102, 102, 102);
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
}

#rightBox #actDel{
    margin-left: 12px;
    margin-top: auto;
}

#box1{
    width: 100%;
    height: 150px;
    display: flex;
    border-radius: 8px 0px 0px 0px;
    margin-top: 10px;
}
#subTotalDiv{
    flex: 4;
    height: 150px;
    border-right: 1px solid grey;
}

#subTotalDiv > #totalDiv{
    width: 96%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 10px;

}
#totalDiv > p{
    margin-top: 8px;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 15px;
}
#totalDiv > h3{
    margin-top: 8px;
    padding-right: 15px;
    font-family: Roboto Slab,serif;
    /* font-family: sans-serif; */
    font-weight: normal;
}
#subTotalDiv  > #deliveryDiv{
    width: 99%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: space-between;
}
#deliveryDiv > h3{
    margin-top: 5px;
    padding-left: 10px;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 15px;
}
#deliveryDiv :nth-child(2){
    padding-right: 38px;
    /* color: greenyellow; */
}
#deliveryDiv .mark{
    color: #84c225;
    cursor: pointer;
}
#deliveryDiv .mark:hover{
    color: #0df21c;
}

#totalPayDiv{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
#totalPayDiv :nth-child(1){
    /* font-family: sans-serif; */
    font-family: Roboto Slab,serif;
    font-weight: normal;
}
#totalPayDiv :nth-child(2){
    padding-right: 15px;
    font-family: Roboto Slab,serif;
    /* font-family: sans-serif;  */
    font-weight: normal;
}
#SavedDiv{
    /* flex: 2; */
    color: rgb(236, 31, 31);
    height: 150px;
    padding: 15px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    justify-content: center; 
    /* border: 1px solid blue; */
}
.pig{
    color: rgb(31, 231, 151);
    font-size: 30px;
    transform: rotateX('360deg')
}

#checkoutButtonDiv{
    width: 100%;
    height: 130px;
    /* border: 1px solid green; */
}

#checkoutButtonDiv>button{
    width: 250px;
    height: 60px;
    margin-top: 20px;
    float: right;
    margin-right: 15px;
    font-size: 23px;
    border: none;
    background-color: #f5cb57;
    border-radius: 8px;
    cursor: pointer;
    font-family: Roboto Slab,serif;
    color: #555;
    box-shadow: 2px 2px 2px #ccc;
    
}

#checkoutButtonDiv>button:hover{
    background-color: #ad8a2c;
}

#cuponTotal{
    margin-left: 15px;
}
@media only screen and (min-width: 421px) and (max-width: 720px){
    body{
        width:max-content;
    }                               
}
@media only screen and (min-width: 0px) and (max-width: 420px){
    body{
        width:max-content;
    }
}