#productbody {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Left Div */
#leftdiv {
  width: 20%;
  margin-right: 7px;
}
h4 {
  font-size: 1.6rem;
}

hr {
  border: 0.5px solid rgb(223, 223, 223);
}

/* Middle Line */
.vl {
  height: 500px;
  border-left: 1px solid rgb(223, 223, 223);
}

/* Product Image */
#imgdiv img {
  width: 100%;
}

/* Right Div */
#rightdiv {
  /* width: 70%; */
  /* display: flex;
  justify-content: center; */
  margin-left: 2%;
}

#ratings {
  color: greenyellow;
  background-color: rgb(198, 211, 178);
  padding: 2px;
}

#count {
  display: inline;
  border: 1px solid black;
  padding: 10px;
}

#rightdiv button {
  background-color: #84c225;
  padding: 11px 30px;
  border: none;
  color: white;
  cursor: pointer;
  /* margin: 0 5px; */
  border-radius: 3px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -12px;
}
.carousel-control.right {
  right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
  background: #333333;
}
