html{
    /* font-size: 100%; */
}


body{
    background-color: #F7F7F7
    
}

a{
    text-decoration: none;
   
}

ul{
    list-style: none;
}

#container{
    width: 75%;
    margin: auto;
    /* border: 1px solid red; */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7F7
}

#shop-by-category{
    
    padding-top: 0.6rem;
    padding-bottom: 1.25rem;
    margin-bottom: 0.5rem;
    border: none;
    border-bottom: 1px dashed rgba(213, 213, 213, 1);
}

#shop-by{
    display: grid;
    grid-template-columns: repeat(6,minmax(0,1fr));
    row-gap: 1.25rem;
    column-gap: 1.5rem;
}

#shop-by span {
    grid-column: span 6 /span 6;
    font-size: 0.8rem;
    
}

#shop-by button{
    padding:0.75rem 1.7rem ;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}


/* title container */

.title-container{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    margin-top: 0.75rem;
  
    
    
}

.title-container >h2{
    font-weight: 300;
    margin: 0;
    font-size: 1.25rem;
}


/* main-container */

#main-container{
    margin-top: 0.75rem;
}

/* filter container */

.filter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-container svg{
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.filter-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 10.5rem;
    padding: 0.5rem 0px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.25px;
    border-radius: 0.25rem;
    box-sizing: content-box;
    font-size: 1rem;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(179, 179, 179,1);
    color: rgba(48, 48, 48, 1);
    transition: all 400ms ease;
}

.filter-container button:hover{
    color: white;
    background-color: rgba(64, 64, 64, 1);
}



/* Relevance btn */

.sort-menu-container{
    position: relative;
   
   
}

.sort-menu{
    
    position: absolute;
    top: 3.8rem;
    right: 0;
    z-index: 100;
    background-color: #fff;
    border:1px solid rgba(118, 185, 0, 0.5);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: .25rem;
    width: 110%;
   padding: 0.25rem;
   display: none;
   
  
}

.sort-menu.sort-menu-hide{
    
    display: initial;
}

.sort-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 0.45rem;
}

.sort-menu li{
    font-size: 0.825rem;
    font-weight: 500;
    width: 100%;
    border-bottom:2px solid rgba(118, 185, 0, 0.2);
    border-radius: .25rem;
    /* border: 1px solid black; */
    padding: .5rem 0.625rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 300ms ease;
}

.sort-menu li:hover{
    background-color: rgba(118, 185, 0, 1);
    color: white;
    font-weight: 600;
}


/* product-container */

.product-container{
    margin-top: 1.25rem;
    border: none;
    border-top: 1px dashed rgba(213, 213, 213, 1);
    display: grid;
    column-gap: 1.5rem;
    grid-auto-flow: column;
    align-items:start;
    /* grid-template-columns: 1fr 3fr; */
}

/* .product-container section{ */
    /* background-color: red; */
/* } */

.product-container > section:first-child{
    
    width: 16.5rem;
    position: sticky;
    top: 60px;
    padding-bottom: 1.25rem;
    /* border: 1px solid red; */
    /* height: 200px; */
}


/* section 2 i.e product box */

#product-box{
    display: grid;
    grid-template-columns: repeat(9,minmax(0,1fr));
    gap: 1.5rem;
    margin-top: 1.25rem;
    padding: 0;
}


/* on click of hide filter product-box take 12 column */

#product-box-12{
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    gap: 1.5rem;
    margin-top: 1.25rem;
    padding: 0;
    
}



#product-box > .product-items{
    grid-column: span 3 / span 3;
    list-style: none;
    cursor: pointer;
    transition: all 400ms ease;
}

#product-box > .product-items:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transform: scale(1.05);
    
}

.product-items > div{
    max-height: 35.5rem;
    /* width: 16.5rem; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0.625rem 0.25rem;
    box-sizing: border-box;
    box-shadow: rgb(96 96 96 / 16%) 0px 4px 8px;
    background-color: #fff;
    border-radius: .5rem;
    
}

.product-items >div >div{
    position: relative;
}


.product-items > div > div:first-child{
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 0.5rem;
   
}


.deckImg{
    background-color: #fff;
}

.deckImg img{
    width: 100%;
    height: 15rem;
    padding: 1.5rem;
    box-sizing: border-box;
   
}


.foodCategory{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

.foodCategory >span{
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 123, 15, 1);
}

.foodCategory >span >span{
    width: 0.625rem;
    height: 0.625rem;
    color: rgba(80, 80, 80, 1);
    border-radius: 1.5rem;
    background-color:  rgba(0, 123, 15, 1);
}

/* offer tag style */
.offer-tag{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;

    color: rgba(255, 255, 255, 1);
    font-size: 0.75rem;
    font-weight: 600;
}

.offer-tag span{
    background-color: rgba(71, 111, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0;
    padding: 0.110rem 0.325rem;
    
}

.delivery{
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
    font-size: 0.75rem;
}

#delivery-icon{
    margin-left: auto;
}


.brand-itemname{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-weight: 400;
    margin: 0;
}

.brand-itemname #brandName{
    font-size: 0.875rem;
    line-height: 1.33;
    
}

.brand-itemname #brandName div{
    width: 100%;
    height: 2.5rem;
}

.brand-itemname #itemName{
    font-size: 1rem;
    padding-top: 0.125rem;
    margin: 0;
    font-weight: 500;
    height: 2.5rem;
}


.item-weight{
    padding: 0.25rem 0;
}


.item-weight > span{
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 1.875rem;
    font-size: 0.875rem;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgba(238, 238, 238, 1);
    color: rgba(96, 96, 96, 1);
    border-radius: 0.25rem;
}


.price-container{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem ;
}

.price-container > span:first-child{
    font-size: 1rem;
    font-weight: 600;
}

.price-container > span:last-child{
    font-size: 0.875rem;
    margin-left: 0.25rem;
    color: rgba(128, 128, 128, 1);
    text-decoration: line-through;
}

.btn-container{
    display: flex;
    gap: 0.5rem;
    margin-top: 2.5rem;
    
}


.btn-container div{
    width: 2.25rem;
    height: 2.25rem;
    /* border: 4px solid red; */
    /* background-color: red; */
  
    margin-right: 0.125rem;
   
   
   
}



.btn-container .whishlist-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    border-radius: 0.25rem;
    border-color: rgba(179, 179, 179, 1);
    background-color: #fff;
}




.btn-container svg{
    width: 1.25rem;
    height: 1.25rem;
}

.btn-container .addToCart-btn{
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: rgba(204, 0, 0, 1);
  border: 1px solid rgba(204, 0, 0, 1);
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 400ms ease;
}

.addToCart-btn:hover{
    background-color: rgba(204, 0, 0, 1);
    color: #fff;
}



/* filter and sort left section */

#sort-box{
    height: calc(100vh - 60px);
  
}


#sort-box >div{
    /* border: 1px solid rgba(204, 0, 0, 1) ; */
   
    width: 100%;
    height: 100%;
    position: relative;
    
}

#sort-box >div:nth-child(1){
    position: absolute;
   
    /* border: 1px solid red; */
    inset: 0px;
   
}

#sort-box >div>div{
    margin-top: 1.5rem;
}






.filterByLabel{
    font-size: 1.125rem;
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
    color: rgba(32, 32, 32, 1);
    line-height: 1.4;
}



.filterByLabel+a{
    display: flex;
    align-items: center;
    padding: .5rem 0;
    margin-bottom: 0.625rem;
    color:  rgba(32, 32, 32, 1);;
}


.filter-1-list{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgb(96 96 96 / 16%);
    padding: 0.625rem;
    padding-top: .45rem;
    border-radius: 0.25rem;
    background-color: #fff;
    
}

.filter-1-list > ul{
    display: flex;
    max-height: 15rem;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    
   
}

.filter-1-list > ul >li{
    padding: 0.625rem;
    padding-right: 0;
    border-left: 1px solid black;
    height: 1.25rem;
    cursor: pointer;
}

.filter-1-list > ul >li:not(:first-child):hover{
    background-color: rgba(118, 185, 0, 0.9); 
    color: white;
}

.filter-1-list > ul >li:first-child{
    padding: 0;
    border: 0;
    margin: 0.625rem 0;
    color: rgba(118, 185, 0, 1);
    font-weight: 600;
    font-size: 1rem;
    
}

.refinedByLabel{
    margin: 1rem 0;
    display: block;
    font-weight: 600;
}

/* refined by filter */


.filterBy{
    margin-bottom: 0.625rem;
}

.filterBy >div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.625rem ;
    border-radius: 0.25rem 0.25rem 0 0;
    cursor: pointer;
    background-color: rgba(238, 238, 238, 1);
    font-size: 0.875rem;
    font-weight: 600;
}

.filterBy > .list-items{
  padding: 0.625rem;
   border-radius:0.25rem ;
   border: 1px solid rgba(238, 238, 238, 1);
   display: flex;
   flex-direction: column;
   
}

.filterBy > .list-items>span{
    display: flex;
    align-items: center;
    
}

.filterBy > .list-items>span:not(:first-child){
    margin-top: 0.625rem;
}

.list-items input + label{

    padding-left: 0.625rem;
}



/* media QUERIES */

@media (min-width: 1024px) and (max-width: 1239px){

    #product-box{
        grid-template-columns: repeat(8,minmax(0,1fr));
    }

    #product-box > .product-items{
        grid-column: span 4 /span 4;
    }
    

}

@media (min-width: 900px) and (max-width: 1020px){

    #product-box{
        grid-template-columns: repeat(9,minmax(0,1fr));
    }

    #product-box > .product-items{
        grid-column: span 3 /span 3;
    }

    #sort-box{
        display: none;
    }
    

}


@media (min-width: 600px) and (max-width: 900px){

    #product-box{
        grid-template-columns: repeat(8,minmax(0,1fr));
    }

    #product-box > .product-items{
        grid-column: span 4 /span 4;
    }

    #sort-box{
        display: none;
    }
    

    #shop-by{
        grid-template-columns: repeat(5,minmax(0,1fr));
    }

}


@media(max-width: 599px){

    #product-box{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

    #product-box > .product-items{
        grid-column: span 3 /span 3;
    }

    #sort-box{
        display: none;
    }
    

}

